  
        <footer>
            <div class="row">
              <h4>Explore</h4>
              <ul >
                <li><a href="#">Japnese Anime</a></li>
                <li><a href="#">Manga </a></li>
                <li><a href="#">Anime Movies</a></li>
                <li><a href="#">Fandom</a></li>
                <li><a href="#">Dubbed Anime</a></li>
               
              </ul>
            </div>
          
          <div class="row">
            <!--Column1-->
            <div >
              <h4>Site links</h4>
              <ul >
                <li><a href="#">Home</a></li>
                <li><a href="#">Characters</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Register</a></li>
               
              </ul>
            </div>
          </div>
          <div  class="row">
            <!--Column1-->
            <div>
              <h4>Site information</h4>
              <ul >
                <li><a href="#">Accessibility</a></li>
                <li><a href="#">Terms and condition</a></li>
                <li><a href="#">Privacy notices</a></li>
                <li><a href="#">Cookie policy</a></li>
                <li><a href="#">contact us</a></li>
                
              </ul>
            </div>
          </div>
          <div class="row1" >
           
            
           <a href="#" class="icoFacebook" title="Facebook"><img src="../../assets/img/Capture.PNG" style="width:100px;height:50px;"/></a><br>
           <a href="#" class="icoFacebook" title="Facebook"> <img src="../../assets/img/Capture1.PNG" style="width:100px;height:50px;"/></a>
            
             </div>
            <div class="row1" >
                <form action="#" class="row flex-fill">
                    <div class="foot1"> <input type="email" class="inttxt" id="email" placeholder="Your Email" name="email"> </div>
                    <div class="foot2"> <button type="submit" class="btnfoot">Subscribe Now</button> </div>
                </form>
                <h4>Follow Us</h4>
                <ul >
                 <li class="ulrow"><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook" ></i></a></li>
                 <li class="ulrow"><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-instagram"></i></a></li>
                 <li class="ulrow"><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-twitter"></i></a></li>
                 <li class="ulrow"><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-youtube"></i></a></li>
                </ul>				
            </div>
    
        <hr>
        <div >
    
            <div >
                <p class="text-center">&copy; Copyright 2018 -Anime Stream.  All rights reserved.</p>
            </div>
        </div>
    
    
      
      
    </footer>