



<div class=" opchild" >
    <div class=" header">
        <img src="../../../assets/img/goku.jpg" style="height:150px;width:300px">

        <h1><span>GO</span>KU</h1>

    </div>

    <div class="intro ">
       
        <p><span>Son Goku (孫そん悟空ごくう Son Gokū)</span>  , born Kakarot (カカロット Kakarotto), is the main protagonist of the Dragon Ball series. Goku is a Saiyan male originally sent to destroy Earth as an infant. A head injury at an early age alters his memory, ridding him of his initial destructive nature and allowing him to grow up to become one of Earth's greatest defenders. He constantly strives and trains to be the greatest warrior possible, which has kept the Earth and the universe safe from destruction many times.
            <p>Goku looks almost exactly like his father, possessing the same spiky black hairstyle, dark-colored eyes, and facial features. However, he has softer eyes, a kind demeanor, and a lighter-pale skin complexion from his mother.</p>
    </div>





</div>

<div class="opworld">

    <img src="../../../assets/img/g1.jpg" style="height:200px;width:300px">
    <img src="../../../assets/img/goku1.jpg" style="height:200px;width:300px">
    <img src="../../../assets/img/goku3.jpg" style="height:200px;width:300px">

</div>



<div class="bounty">



</div>